{% extends 'base.html' %}
{% block content %}
 <body>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        {%if messages%}
            {%for msg in messages%}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>{{msg}}</strong> 
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>{{msg}}</strong> 
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {%endfor%}
        {%endif%}
    </div>
    <div class="col-4"></div>
</div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{todo.username}}</li>
            <li class="list-group-item">{{todo.task_name}}</li>
            <li class="list-group-item">{{todo.active}}</li>
            <li class="list-group-item">{{todo.created_date}}</li>
          </ul>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>

 </body>
 {% endblock %}
